.classNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #511012; 
    width: 20%;

}

.classLink {
    font-size: 120%;
    padding: 10% 5%;
    background-color: #511012; 
    /* background-image: linear-gradient(#511012, #DFA03F); */
    color: #F0E1BB;
    width: inherit;
    text-align: center;
    border-bottom: 3px solid #DFA03F;
    /* border-color: #DFA03F */
}