.spell-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'oblivion';
}

.spell-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    width: 60%;
}

.single-spell {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    width: 80%;
    padding: 1%;
    border-bottom: 3px solid #DFA03F;
}

@media screen and (max-width: 650px) {
    .spell-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .spell-container {
        width: 85%;
    }

    .single-spell {
        font-size: 105%;
        width: 100%;
    }
    
}