.detailsBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.individual-spell {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50vw;
  padding-left: 16px;
  margin: 25px;
  font-size: large;
  
}

p {
  padding-top: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-bottom: 1px solid red; */
  font-weight: bold;
  margin: 10%;
}

.materials {
  
}