.detailsBox {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.individual-spell {
  border: 3px solid #DFA03F;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  font-size: large;
  margin: 5%;
  padding: 4%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
}

tr {
  margin: 1%;
}