.spellBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'oblivion';
}

.spellContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    width: 60%;
}

.singleSpell {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    width: 80%;
    padding: 1%;
    border-bottom: 3px solid #DFA03F;
}