.spellBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10%;
    padding: 5%;
    font-family: 'oblivion';
    /* border: 4px none;
    border-color: black; */
}

.singleSpell {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    width: 80%;
    padding: 1%;
    border-bottom: 3px solid #DFA03F;
}